.navbar {
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
  padding: 10px 0;
  border-radius: 15px;
  backdrop-filter: blur(60px);
  display: flex;
  margin-top: 2rem;
  align-items: center;
  z-index: 23;
}

.menuBtn {
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #1d4ed8;
  color: white;
  font-weight: 600;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;

  border: none;
  z-index: 100;
}
.webLogo {
  width: 30%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.webLogo img {
  width: 100%;
}

.menuSwitch {
  display: flex;
  padding-right: 10px;
  width: 70%;
  display: block;
  text-align: right;
  align-items: center;
}

@media (min-width: 550px) {
  .webLogo {
    width: 20%;
  }

  .menuSwitch {
    width: 80%;
  }
}
@media (min-width: 900px) {
  .webLogo {
    width: 15%;
  }

  .menuSwitch {
    width: 85%;
  }
}

@media (min-width: 1250px) {
  .webLogo {
    width: 10%;
  }
  .menuSwitch {
    width: 90%;
  }
}
